* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.css--bg {
	height: 100vh;
	margin: 1em 0;
	background-color: #4bb0b8;
	background-size: 100px 100px;
	background-image: radial-gradient(#474a54 15%, transparent 15%),
		linear-gradient(
			45deg,
			transparent 48%,
			#bfdece 48%,
			#bfdece 52%,
			transparent 52%
		),
		linear-gradient(
			136deg,
			transparent 48%,
			#bfdece 48%,
			#bfdece 52%,
			transparent 52%
		);
}
