@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Doto:wght@100..900&family=Faculty+Glyphic&family=Figtree:ital,wght@0,300..900;1,300..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@font-face {
	font-family: "satoshi";
	src: url("/fonts/satoshi.ttf");
}

@keyframes float {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px);
	}
}

.floating-animation {
	animation: float 3s ease-in-out infinite;
}

@keyframes tilt {
	0%,
	100% {
		transform: translate(-50%) rotate(-10deg);
	}
	50% {
		transform: translate(-50%);
	}
}

.tilt-animation {
	animation: tilt 3s ease-in-out infinite;
	transform-origin: top center;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-13rem - 19rem)); /* Width of 4 icons + gaps */
	}
}

.animate-scroll {
	animation: scroll 15s linear infinite;
	will-change: transform;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(74, 222, 128, 0.56);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 12px rgba(74, 222, 128, 0);
	}
	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(74, 222, 128, 0);
	}
}

.pulse {
	animation: pulse 2s infinite;
}

.satoshi {
	font-family: "satoshi", sans-serif;
}

@keyframes floating {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, 0);
	}
}

.floating-animation-slow {
	animation: floating 6s ease-in-out infinite;
}

.floating-animation-medium {
	animation: floating 4s ease-in-out infinite;
}

.floating-animation-fast {
	animation: floating 3s ease-in-out infinite;
}

.floating-delay-1 {
	animation-delay: 0.5s;
}

.floating-delay-2 {
	animation-delay: 1s;
}

.floating-delay-3 {
	animation-delay: 1.5s;
}

.floating-delay-4 {
	animation-delay: 2s;
}

/* //------/// */
:root {
	--prime: #ff6e48;
	--second: #1b2431;
}

@font-face {
	font-family: "Liberty";
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/907368/liberty.otf");
}

.letter-title {
	font-family: "Liberty";

	text-shadow: 0 0 2rem #64646432;
	animation: flicker 2s ease-in-out infinite alternate;
}

@keyframes flicker {
	0% {
		opacity: 1;
	}
	5% {
		opacity: 1;
	}
	5.5% {
		opacity: 0;
	}
	6% {
		opacity: 1;
	}
	6.5% {
		opacity: 1;
	}
	7% {
		opacity: 0;
	}
	8% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

/* //------/// */

:root {
}

.c-rainbow {
	--color-background: #31037d;
	--axis-x: 3px;
	--axis-y: 1rem;
	--delay: 10;
	--color-black: #000;
	--color-white: #ffffffe9;
	--color-orange: #d49c3d;
	--color-red: #d14b3d;
	--color-violet: #cf52eb;
	--color-blue: #44a3f7;
	--color-green: #5acb3c;
	--color-yellow: #debf40;
	--color-foreground: var(--color-white);
	--font-name: Righteous;
	counter-reset: rainbow;
	position: relative;
	display: block;
	list-style: none;
	padding: 0;
	/* border: 1px solid #fff; */
	width: fit-content;
	height: 3rem;
	display: flex;
	margin-right: auto;
}

.c-rainbow__layer {
	--text-color: var(--color-foreground);
	counter-increment: rainbow;
	font-size: 2.1rem;
	color: var(--text-color);
	text-shadow: -1px -1px 0 var(--color-black), 1px -1px 0 var(--color-black),
		-1px 1px 0 var(--color-black), 1px 1px 0 var(--color-black),
		4px 4px 0 rgba(0, 0, 0, 0.2);
	/* animation: rainbow 1.5s ease-in-out infinite; */
	/* animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both
		infinite; */
	font-family: "Montserrat";
	font-weight: 700;
	/* line-height: 1.5rem; */
}

.c-rainbow__layer:nth-child(1) {
	animation-delay: calc(1 / var(--delay) * 1s);
	left: calc(var(--axis-x) * 1);
	z-index: 10;
}

.c-rainbow__layer:nth-child(2) {
	animation-delay: calc(2 / var(--delay) * 1s);
	left: calc(var(--axis-x) * 2);
	z-index: 20;
}

.c-rainbow__layer:nth-child(3) {
	animation-delay: calc(3 / var(--delay) * 1s);
	left: calc(var(--axis-x) * 3);
	z-index: 30;
}

.c-rainbow__layer:nth-child(4) {
	animation-delay: calc(4 / var(--delay) * 1s);
	left: calc(var(--axis-x) * 4);
	z-index: 40;
}

.c-rainbow__layer:nth-child(5) {
	animation-delay: calc(5 / var(--delay) * 1s);
	left: calc(var(--axis-x) * 5);
	z-index: 50;
}

.c-rainbow__layer:nth-child(6) {
	animation-delay: calc(6 / var(--delay) * 1s);
	left: calc(var(--axis-x) * 6);
	z-index: 60;
}

.c-rainbow__layer:nth-child(7) {
	animation-delay: calc(7 / var(--delay) * 1s);
	left: calc(var(--axis-x) * 7);
	z-index: 70;
}

.c-rainbow__layer:not(:first-child) {
	position: absolute;
	top: 0;
}

.c-rainbow__layer--white {
	--text-color: var(--color-yellow);
}
.c-rainbow__layer--orange {
	--text-color: var(--color-orange);
}
.c-rainbow__layer--red {
	--text-color: var(--color-red);
}
.c-rainbow__layer--violet {
	--text-color: var(--color-violet);
}
.c-rainbow__layer--blue {
	--text-color: var(--color-blue);
}
.c-rainbow__layer--green {
	--text-color: var(--color-green);
}
.c-rainbow__layer--yellow {
	--text-color: var(--color-white);
}

@keyframes rainbow {
	0%,
	100% {
		transform: translatey(var(--axis-y));
	}
	50% {
		transform: translatey(calc(var(--axis-y) * -1));
	}
}

.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s
		cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
	animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both
		infinite;
}

@keyframes shake-horizontal {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
	80% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	90% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
